#principal {
  border-top: 4px solid  #e2b144;
  margin-top: 0px !important;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.card {
  margin-bottom: 4%;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

#card-titulo {
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: 900;
  color: #008080;
}

.form-group {
  padding: 5px;
}

select {
  font-size: 1.1em;
  color: inherit;
}