nav {
  background-color: white;
  color: black;
}

.navbar-brand {
  color: #e2b144;
  font-size: 25px;
}

a{
  color: black;
  margin-left: 30px;
}

a:hover {
  transition: all .2s ease-out;
  border-bottom: 4px solid 	#008080;
  color: #e2b144 !important;
  font-weight: 600;
  font-size: 17px;
}

#logo {
  width: 170px;
  margin-left:2%;
  margin-top: 10px;
}

.dropdown-item {
  width: 65% !important;
}

#btnCadastro {
  color: white;
  background-color: green;
  padding: 5px 10px 5px 10px;
  transition: 1.5s;
  font-weight: 600;
}

#btnCadastro:hover {
  background-color: rgb(27, 143, 151);
  text-decoration: none !important;
  color: black !important;
  border-bottom: 4px solid black;
}