#principal {
    border-top: 4px solid  #e2b144;
    margin-top: 0px !important;
}

#conteudo {
    margin-top: 5%;
    margin-bottom: 5%;
}

img {
    border-radius: 10px;
    max-width: 95%;
    max-height: 95%;
}

.row {
    margin-bottom: 6%;
}

h3 {
    color: #008080;
    font-weight: 900;

}

#icone-pessoa {
    max-width: 100px;
}

p {
    text-align: justify;
    font-size: 1.1em;
}

#amigopet {
    color: #e2b144;
    font-weight: 600;
}