<div id="filtro">
  <div class="container row">
    <div class="col-md-8">
      <a id="titulo">Pets:</a>
      <button class="grow_skew_forward" (click)="doados()">Doados</button>
      <button class="grow_skew_forward" (click)="ativos()">Ativos</button>
      <button class="grow_skew_forward" (click)="getAnimaisByIdUser()">Ambos</button>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5">
  <div class="card" style="width: 18rem" id="grow" routerLink="/editarDica/{{animal.id}}" *ngFor="let animal of animais | async"
    routerLink="/editarpet/{{ animal.id }}"
  >
    <img src="../../assets/gatoindex.jpg" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">{{ animal.nome }}</h5>
      <p class="card-text">Sexo: {{ animal.sexo }}</p>
      <p class="card-text">Porte: {{ animal.porte }}</p>
      <button class="grow_skew_forward">Editar</button>
    </div>
  </div>
</div>
