#principal {
    border-top: 4px solid  #e2b144;
    margin-top: 0px !important;
}

.card {
    width: 100%;
    margin-bottom: 10% !important;
    margin-top: 5%;
    padding: 5%;
}

img {
    max-height: 62vh;
    max-width: 62vw;
    margin-left: auto;
    margin-right: auto;
}

#conteudo {
    margin-top: 6%;
    width: 100%;
}

h3 {
    font-weight: 900;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: inherit;
}
