<div class="container-fluid" id="principal">
    <div class="container">
        
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="card-body">

                        <div class="container">
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <button routerLink="/cadastrardica" class="slide_from_left" id="add"><strong>+</strong>Add Dica</button>
                                </div>
                                <div class="col-md-8">
                                    <h1><strong>Editar Dicas</strong></h1>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Título</th>
                                        <th scope="col">Conteúdo</th>
                                        <th scope="col">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr routerLink="/" *ngFor="let dica of dicas | async">
                                        <th scope="row">1</th>
                                        <td>{{dica.titulo}}</td>
                                        <td>{{dica.descricao}}</td>
                                        <td>
                                            <button routerLink="/editardica/{{dica.id}}" class="slide_from_left"
                                                id="editar">Editar</button>
                                            <button class="slide_from_left" id="excluir" (click)="excluirDica(dica.id)">Excluir</button>
                                        </td>
                                    </tr>
                                    
                                    
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>