#principal {
  border-top: 4px solid #e2b144;
}

.container-fluid {
    margin-bottom: 10%;
}

.card {
  margin-top: 7%;
}

button {
  color: white;
  position: relative;
  overflow: hidden;
  padding: 4px 10px 4px 10px;
  border-radius: 2px;
  font-weight: 600;
  margin-top: 20px;
  font-size: 15px !important;
  z-index: 1;
  border: 0px;
  margin-right: 5px;
}

button:hover {
  color: rgb(255, 255, 255);
}

button[class^="slide"]::after {
  transition: all 0.35s;
}

button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

#editar {
  background-color: rgb(255, 217, 0);
}

#excluir {
  background-color: rgb(216, 16, 2);
}

button::after {
  content: "";
  background:#008080;
  position: absolute;
  z-index: -1;
  display: block;
}

#add {
  background-color: green;
}

tr {
  cursor: pointer;
}