body {
    font-family: "Karla", sans-serif;
    background-color: #d0d0ce;
    min-height: 100vh;
  }
  
  #principal {
      border-top: 4px solid  #e2b144;
      margin-top: 0px !important;
  }
  
  .brand-wrapper {
    margin-bottom: 19px;
  }
  
  .cadastro-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden;
  }
  
  .cadastro-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .cadastro-card .card-body {
    padding: 85px 60px 60px;
  }
  
  @media (max-width: 422px) {
    .cadastro-card .card-body {
      padding: 35px 24px;
    }
  }
  
  .cadastro-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
  }
  
  .cadastro-card form {
    max-width: 326px;
  }
  
  .cadastro-card .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal;
  }
  
  .cadastro-card .form-control::-webkit-input-placeholder {
    color: #919aa3;
  }
  
  .cadastro-card .form-control::-moz-placeholder {
    color: #919aa3;
  }
  
  .cadastro-card .form-control:-ms-input-placeholder {
    color: #919aa3;
  }
  
  .cadastro-card .form-control::-ms-input-placeholder {
    color: #919aa3;
  }
  
  .cadastro-card .form-control::placeholder {
    color: #919aa3;
  }
  
  .cadastro-card .cadastro-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
  }
  
  .cadastro-card .cadastro-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
  }
  
  .cadastro-card-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px;
  }
  
  @media (max-width: 767px) {
    .cadastro-card-footer-text {
      margin-bottom: 24px;
    }
  }
  
  .cadastro-card-footer-nav a {
    font-size: 14px;
    color: #919aa3;
  }
  
  .selects {
    width: 325px;
    margin-bottom: 25px;
    border-radius: 7px;
    padding: 6px;
  }
  
  .container {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  