<div class="container-fluid" id="principal">
    <div class="container"></div>
    <div class="container mt-5">

        <a href="#">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h3>Aprablu</h3>
                        </div>
                        <div class="row" id="ladoUm">
                            <h5>Localização: Rua Victor Konder, 233 - Blumenau, Santa Catarina</h5>
                            <p>Fone: (47) 1234 1233</p>
                            <p>Email: aprablu@gmail.com</p>
                            <p>Site: https://www.aprablu.com.br/</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h4>Deseja ajudar a Ong a manter seus animais?</h4>
                        </div>
                        <div class="row" id="ladoDois">
                            <h5>Dados bancários:</h5>
                            <p>Pix: aprablu@gmail.com</p>
                            <p>Itaú: 123435</p>
                            <p>Voce pode visitar a Ong para conhecer os animalzinhos e adotá-los! Bem como para ajudar
                                com ração e afins.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h3>Aprablu</h3>
                        </div>
                        <div class="row" id="ladoUm">
                            <h5>Localização: Rua Victor Konder, 233 - Blumenau, Santa Catarina</h5>
                            <p>Fone: (47) 1234 1233</p>
                            <p>Email: aprablu@gmail.com</p>
                            <p>Site: https://www.aprablu.com.br/</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h4>Deseja ajudar a Ong a manter seus animais?</h4>
                        </div>
                        <div class="row" id="ladoDois">
                            <h5>Dados bancários:</h5>
                            <p>Pix: aprablu@gmail.com</p>
                            <p>Itaú: 123435</p>
                            <p>Voce pode visitar a Ong para conhecer os animalzinhos e adotá-los! Bem como para ajudar
                                com ração e afins.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>


        <a href="#">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h3>Aprablu</h3>
                        </div>
                        <div class="row" id="ladoUm">
                            <h5>Localização: Rua Victor Konder, 233 - Blumenau, Santa Catarina</h5>
                            <p>Fone: (47) 1234 1233</p>
                            <p>Email: aprablu@gmail.com</p>
                            <p>Site: https://www.aprablu.com.br/</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h4>Deseja ajudar a Ong a manter seus animais?</h4>
                        </div>
                        <div class="row" id="ladoDois">
                            <h5>Dados bancários:</h5>
                            <p>Pix: aprablu@gmail.com</p>
                            <p>Itaú: 123435</p>
                            <p>Voce pode visitar a Ong para conhecer os animalzinhos e adotá-los! Bem como para ajudar
                                com ração e afins.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>


        <a href="#">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h3>Aprablu</h3>
                        </div>
                        <div class="row" id="ladoUm">
                            <h5>Localização: Rua Victor Konder, 233 - Blumenau, Santa Catarina</h5>
                            <p>Fone: (47) 1234 1233</p>
                            <p>Email: aprablu@gmail.com</p>
                            <p>Site: https://www.aprablu.com.br/</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h4>Deseja ajudar a Ong a manter seus animais?</h4>
                        </div>
                        <div class="row" id="ladoDois">
                            <h5>Dados bancários:</h5>
                            <p>Pix: aprablu@gmail.com</p>
                            <p>Itaú: 123435</p>
                            <p>Voce pode visitar a Ong para conhecer os animalzinhos e adotá-los! Bem como para ajudar
                                com ração e afins.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>


        <a href="#">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h3>Aprablu</h3>
                        </div>
                        <div class="row" id="ladoUm">
                            <h5>Localização: Rua Victor Konder, 233 - Blumenau, Santa Catarina</h5>
                            <p>Fone: (47) 1234 1233</p>
                            <p>Email: aprablu@gmail.com</p>
                            <p>Site: https://www.aprablu.com.br/</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h4>Deseja ajudar a Ong a manter seus animais?</h4>
                        </div>
                        <div class="row" id="ladoDois">
                            <h5>Dados bancários:</h5>
                            <p>Pix: aprablu@gmail.com</p>
                            <p>Itaú: 123435</p>
                            <p>Voce pode visitar a Ong para conhecer os animalzinhos e adotá-los! Bem como para ajudar
                                com ração e afins.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>


        <a href="#">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h3>Aprablu</h3>
                        </div>
                        <div class="row" id="ladoUm">
                            <h5>Localização: Rua Victor Konder, 233 - Blumenau, Santa Catarina</h5>
                            <p>Fone: (47) 1234 1233</p>
                            <p>Email: aprablu@gmail.com</p>
                            <p>Site: https://www.aprablu.com.br/</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h4>Deseja ajudar a Ong a manter seus animais?</h4>
                        </div>
                        <div class="row" id="ladoDois">
                            <h5>Dados bancários:</h5>
                            <p>Pix: aprablu@gmail.com</p>
                            <p>Itaú: 123435</p>
                            <p>Voce pode visitar a Ong para conhecer os animalzinhos e adotá-los! Bem como para ajudar
                                com ração e afins.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>


        <a href="#">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h3>Aprablu</h3>
                        </div>
                        <div class="row" id="ladoUm">
                            <h5>Localização: Rua Victor Konder, 233 - Blumenau, Santa Catarina</h5>
                            <p>Fone: (47) 1234 1233</p>
                            <p>Email: aprablu@gmail.com</p>
                            <p>Site: https://www.aprablu.com.br/</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h4>Deseja ajudar a Ong a manter seus animais?</h4>
                        </div>
                        <div class="row" id="ladoDois">
                            <h5>Dados bancários:</h5>
                            <p>Pix: aprablu@gmail.com</p>
                            <p>Itaú: 123435</p>
                            <p>Voce pode visitar a Ong para conhecer os animalzinhos e adotá-los! Bem como para ajudar
                                com ração e afins.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>


    </div>
</div>